RoomM.WebAppClient/Service References/RoomManagementWS/RoomManagementWS1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:56445/RoomModule/Implement/RoomManagementWS.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RoomM.Domain.RoomModule.Aggregates" />
  <xs:import schemaLocation="http://localhost:56445/RoomModule/Implement/RoomManagementWS.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" />
  <xs:element name="GetRoom">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="roomId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoomResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/RoomM.Domain.RoomModule.Aggregates" minOccurs="0" name="GetRoomResult" nillable="true" type="q1:Room" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoomList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoomListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/RoomM.Domain.RoomModule.Aggregates" minOccurs="0" name="GetRoomListResult" nillable="true" type="q2:ArrayOfRoom" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoomListByRoomId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="roomTypeId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoomListByRoomIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/RoomM.Domain.RoomModule.Aggregates" minOccurs="0" name="GetRoomListByRoomIdResult" nillable="true" type="q3:ArrayOfRoom" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoomTypeList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoomTypeListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/RoomM.Domain.RoomModule.Aggregates" minOccurs="0" name="GetRoomTypeListResult" nillable="true" type="q4:ArrayOfRoomType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoomReg">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="roomRegId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoomRegResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/RoomM.Domain.RoomModule.Aggregates" minOccurs="0" name="GetRoomRegResult" nillable="true" type="q5:RoomReg" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoomRegListByRoomId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="roomId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoomRegListByRoomIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/RoomM.Domain.RoomModule.Aggregates" minOccurs="0" name="GetRoomRegListByRoomIdResult" nillable="true" type="q6:ArrayOfRoomReg" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoomRegListByUserId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoomRegListByUserIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/RoomM.Domain.RoomModule.Aggregates" minOccurs="0" name="GetRoomRegListByUserIdResult" nillable="true" type="q7:ArrayOfRoomReg" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoomRegListByDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="date" type="xs:dateTime" />
        <xs:element minOccurs="0" name="roomId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoomRegListByDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/RoomM.Domain.RoomModule.Aggregates" minOccurs="0" name="GetRoomRegListByDateResult" nillable="true" type="q8:ArrayOfRoomReg" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoomRegListByWeek">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="date" type="xs:dateTime" />
        <xs:element minOccurs="0" name="roomId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoomRegListByWeekResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/RoomM.Domain.RoomModule.Aggregates" minOccurs="0" name="GetRoomRegListByWeekResult" nillable="true" type="q9:ArrayOfRoomReg" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoomRegListByWatchedState">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="isWatched" type="xs:boolean" />
        <xs:element minOccurs="0" name="userId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoomRegListByWatchedStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/RoomM.Domain.RoomModule.Aggregates" minOccurs="0" name="GetRoomRegListByWatchedStateResult" nillable="true" type="q10:ArrayOfRoomReg" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoomLimitByRegister">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="limit" type="xs:int" />
        <xs:element minOccurs="0" name="from" type="xs:dateTime" />
        <xs:element minOccurs="0" name="to" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoomLimitByRegisterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/System.Collections.Generic" minOccurs="0" name="GetRoomLimitByRegisterResult" nillable="true" type="q11:ArrayOfKeyValuePairOfRoominttUcuKbhg" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRoom">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/RoomM.Domain.RoomModule.Aggregates" minOccurs="0" name="room" nillable="true" type="q12:Room" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRoomResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditRoom">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/RoomM.Domain.RoomModule.Aggregates" minOccurs="0" name="room" nillable="true" type="q13:Room" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditRoomResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRoom">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/RoomM.Domain.RoomModule.Aggregates" minOccurs="0" name="room" nillable="true" type="q14:Room" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRoomResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRoomReg">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/RoomM.Domain.RoomModule.Aggregates" minOccurs="0" name="roomReg" nillable="true" type="q15:RoomReg" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRoomRegResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditRoomReg">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/RoomM.Domain.RoomModule.Aggregates" minOccurs="0" name="roomReg" nillable="true" type="q16:RoomReg" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditRoomRegResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRoomReg">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="roomRegId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRoomRegResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>