RoomM.WebAppClient/Service References/UserManagementWS/UserManagementWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UserManagementWS" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:56445/UserModule/Implement/UserManagementWS.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:56445/UserModule/Implement/UserManagementWS.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:56445/UserModule/Implement/UserManagementWS.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RoomM.Domain.UserModule.Aggregates" />
      <xsd:import schemaLocation="http://localhost:56445/UserModule/Implement/UserManagementWS.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/RoomM.Domain" />
      <xsd:import schemaLocation="http://localhost:56445/UserModule/Implement/UserManagementWS.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUserManagementWS_GetSingle_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSingle" />
  </wsdl:message>
  <wsdl:message name="IUserManagementWS_GetSingle_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSingleResponse" />
  </wsdl:message>
  <wsdl:message name="IUserManagementWS_GetSingleByUsername_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSingleByUsername" />
  </wsdl:message>
  <wsdl:message name="IUserManagementWS_GetSingleByUsername_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSingleByUsernameResponse" />
  </wsdl:message>
  <wsdl:message name="IUserManagementWS_GetUserList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserList" />
  </wsdl:message>
  <wsdl:message name="IUserManagementWS_GetUserList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserListResponse" />
  </wsdl:message>
  <wsdl:message name="IUserManagementWS_GetRoleList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRoleList" />
  </wsdl:message>
  <wsdl:message name="IUserManagementWS_GetRoleList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRoleListResponse" />
  </wsdl:message>
  <wsdl:message name="IUserManagementWS_GetUserLimitByRegister_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserLimitByRegister" />
  </wsdl:message>
  <wsdl:message name="IUserManagementWS_GetUserLimitByRegister_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserLimitByRegisterResponse" />
  </wsdl:message>
  <wsdl:message name="IUserManagementWS_AddUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AddUser" />
  </wsdl:message>
  <wsdl:message name="IUserManagementWS_AddUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUserManagementWS_EditUser_InputMessage">
    <wsdl:part name="parameters" element="tns:EditUser" />
  </wsdl:message>
  <wsdl:message name="IUserManagementWS_EditUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUserManagementWS_DeleteUser_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUser" />
  </wsdl:message>
  <wsdl:message name="IUserManagementWS_DeleteUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUserManagementWS_GetRoleById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRoleById" />
  </wsdl:message>
  <wsdl:message name="IUserManagementWS_GetRoleById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRoleByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IUserManagementWS_GetRoleByName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRoleByName" />
  </wsdl:message>
  <wsdl:message name="IUserManagementWS_GetRoleByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRoleByNameResponse" />
  </wsdl:message>
  <wsdl:message name="IUserManagementWS_AddRole_InputMessage">
    <wsdl:part name="parameters" element="tns:AddRole" />
  </wsdl:message>
  <wsdl:message name="IUserManagementWS_AddRole_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddRoleResponse" />
  </wsdl:message>
  <wsdl:message name="IUserManagementWS_EditRole_InputMessage">
    <wsdl:part name="parameters" element="tns:EditRole" />
  </wsdl:message>
  <wsdl:message name="IUserManagementWS_EditRole_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditRoleResponse" />
  </wsdl:message>
  <wsdl:message name="IUserManagementWS_DeleteRole_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRole" />
  </wsdl:message>
  <wsdl:message name="IUserManagementWS_DeleteRole_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRoleResponse" />
  </wsdl:message>
  <wsdl:message name="IUserManagementWS_GetUserClaimList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserClaimList" />
  </wsdl:message>
  <wsdl:message name="IUserManagementWS_GetUserClaimList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserClaimListResponse" />
  </wsdl:message>
  <wsdl:message name="IUserManagementWS_AddUserClaim_InputMessage">
    <wsdl:part name="parameters" element="tns:AddUserClaim" />
  </wsdl:message>
  <wsdl:message name="IUserManagementWS_AddUserClaim_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddUserClaimResponse" />
  </wsdl:message>
  <wsdl:message name="IUserManagementWS_DeleteUserClaim_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUserClaim" />
  </wsdl:message>
  <wsdl:message name="IUserManagementWS_DeleteUserClaim_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUserClaimResponse" />
  </wsdl:message>
  <wsdl:message name="IUserManagementWS_GetUserLoginList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserLoginList" />
  </wsdl:message>
  <wsdl:message name="IUserManagementWS_GetUserLoginList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserLoginListResponse" />
  </wsdl:message>
  <wsdl:message name="IUserManagementWS_FindUserByLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:FindUserByLogin" />
  </wsdl:message>
  <wsdl:message name="IUserManagementWS_FindUserByLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindUserByLoginResponse" />
  </wsdl:message>
  <wsdl:message name="IUserManagementWS_AddUserLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:AddUserLogin" />
  </wsdl:message>
  <wsdl:message name="IUserManagementWS_AddUserLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddUserLoginResponse" />
  </wsdl:message>
  <wsdl:message name="IUserManagementWS_DeleteUserLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUserLogin" />
  </wsdl:message>
  <wsdl:message name="IUserManagementWS_DeleteUserLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUserLoginResponse" />
  </wsdl:message>
  <wsdl:portType name="IUserManagementWS">
    <wsdl:operation name="GetSingle">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserManagementWS/GetSingle" message="tns:IUserManagementWS_GetSingle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserManagementWS/GetSingleResponse" message="tns:IUserManagementWS_GetSingle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSingleByUsername">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserManagementWS/GetSingleByUsername" message="tns:IUserManagementWS_GetSingleByUsername_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserManagementWS/GetSingleByUsernameResponse" message="tns:IUserManagementWS_GetSingleByUsername_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserList">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserManagementWS/GetUserList" message="tns:IUserManagementWS_GetUserList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserManagementWS/GetUserListResponse" message="tns:IUserManagementWS_GetUserList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRoleList">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserManagementWS/GetRoleList" message="tns:IUserManagementWS_GetRoleList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserManagementWS/GetRoleListResponse" message="tns:IUserManagementWS_GetRoleList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserLimitByRegister">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserManagementWS/GetUserLimitByRegister" message="tns:IUserManagementWS_GetUserLimitByRegister_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserManagementWS/GetUserLimitByRegisterResponse" message="tns:IUserManagementWS_GetUserLimitByRegister_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserManagementWS/AddUser" message="tns:IUserManagementWS_AddUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserManagementWS/AddUserResponse" message="tns:IUserManagementWS_AddUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserManagementWS/EditUser" message="tns:IUserManagementWS_EditUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserManagementWS/EditUserResponse" message="tns:IUserManagementWS_EditUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserManagementWS/DeleteUser" message="tns:IUserManagementWS_DeleteUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserManagementWS/DeleteUserResponse" message="tns:IUserManagementWS_DeleteUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRoleById">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserManagementWS/GetRoleById" message="tns:IUserManagementWS_GetRoleById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserManagementWS/GetRoleByIdResponse" message="tns:IUserManagementWS_GetRoleById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRoleByName">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserManagementWS/GetRoleByName" message="tns:IUserManagementWS_GetRoleByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserManagementWS/GetRoleByNameResponse" message="tns:IUserManagementWS_GetRoleByName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddRole">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserManagementWS/AddRole" message="tns:IUserManagementWS_AddRole_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserManagementWS/AddRoleResponse" message="tns:IUserManagementWS_AddRole_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditRole">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserManagementWS/EditRole" message="tns:IUserManagementWS_EditRole_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserManagementWS/EditRoleResponse" message="tns:IUserManagementWS_EditRole_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteRole">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserManagementWS/DeleteRole" message="tns:IUserManagementWS_DeleteRole_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserManagementWS/DeleteRoleResponse" message="tns:IUserManagementWS_DeleteRole_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserClaimList">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserManagementWS/GetUserClaimList" message="tns:IUserManagementWS_GetUserClaimList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserManagementWS/GetUserClaimListResponse" message="tns:IUserManagementWS_GetUserClaimList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddUserClaim">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserManagementWS/AddUserClaim" message="tns:IUserManagementWS_AddUserClaim_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserManagementWS/AddUserClaimResponse" message="tns:IUserManagementWS_AddUserClaim_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUserClaim">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserManagementWS/DeleteUserClaim" message="tns:IUserManagementWS_DeleteUserClaim_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserManagementWS/DeleteUserClaimResponse" message="tns:IUserManagementWS_DeleteUserClaim_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserLoginList">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserManagementWS/GetUserLoginList" message="tns:IUserManagementWS_GetUserLoginList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserManagementWS/GetUserLoginListResponse" message="tns:IUserManagementWS_GetUserLoginList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindUserByLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserManagementWS/FindUserByLogin" message="tns:IUserManagementWS_FindUserByLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserManagementWS/FindUserByLoginResponse" message="tns:IUserManagementWS_FindUserByLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddUserLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserManagementWS/AddUserLogin" message="tns:IUserManagementWS_AddUserLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserManagementWS/AddUserLoginResponse" message="tns:IUserManagementWS_AddUserLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUserLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserManagementWS/DeleteUserLogin" message="tns:IUserManagementWS_DeleteUserLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserManagementWS/DeleteUserLoginResponse" message="tns:IUserManagementWS_DeleteUserLogin_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUserManagementWS" type="tns:IUserManagementWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSingle">
      <soap:operation soapAction="http://tempuri.org/IUserManagementWS/GetSingle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSingleByUsername">
      <soap:operation soapAction="http://tempuri.org/IUserManagementWS/GetSingleByUsername" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserList">
      <soap:operation soapAction="http://tempuri.org/IUserManagementWS/GetUserList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRoleList">
      <soap:operation soapAction="http://tempuri.org/IUserManagementWS/GetRoleList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserLimitByRegister">
      <soap:operation soapAction="http://tempuri.org/IUserManagementWS/GetUserLimitByRegister" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <soap:operation soapAction="http://tempuri.org/IUserManagementWS/AddUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditUser">
      <soap:operation soapAction="http://tempuri.org/IUserManagementWS/EditUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <soap:operation soapAction="http://tempuri.org/IUserManagementWS/DeleteUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRoleById">
      <soap:operation soapAction="http://tempuri.org/IUserManagementWS/GetRoleById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRoleByName">
      <soap:operation soapAction="http://tempuri.org/IUserManagementWS/GetRoleByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddRole">
      <soap:operation soapAction="http://tempuri.org/IUserManagementWS/AddRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditRole">
      <soap:operation soapAction="http://tempuri.org/IUserManagementWS/EditRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteRole">
      <soap:operation soapAction="http://tempuri.org/IUserManagementWS/DeleteRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserClaimList">
      <soap:operation soapAction="http://tempuri.org/IUserManagementWS/GetUserClaimList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUserClaim">
      <soap:operation soapAction="http://tempuri.org/IUserManagementWS/AddUserClaim" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUserClaim">
      <soap:operation soapAction="http://tempuri.org/IUserManagementWS/DeleteUserClaim" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserLoginList">
      <soap:operation soapAction="http://tempuri.org/IUserManagementWS/GetUserLoginList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindUserByLogin">
      <soap:operation soapAction="http://tempuri.org/IUserManagementWS/FindUserByLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUserLogin">
      <soap:operation soapAction="http://tempuri.org/IUserManagementWS/AddUserLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUserLogin">
      <soap:operation soapAction="http://tempuri.org/IUserManagementWS/DeleteUserLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserManagementWS">
    <wsdl:port name="BasicHttpBinding_IUserManagementWS" binding="tns:BasicHttpBinding_IUserManagementWS">
      <soap:address location="http://localhost:56445/UserModule/Implement/UserManagementWS.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>