RoomM.WebAppClient/Service References/UserManagementWS/UserManagementWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/System.Collections.Generic" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:56445/UserModule/Implement/UserManagementWS.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RoomM.Domain.UserModule.Aggregates" />
  <xs:import schemaLocation="http://localhost:56445/UserModule/Implement/UserManagementWS.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfKeyValuePairOfUserintg2UO1GBV">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValuePairOfUserintg2UO1GBV" type="tns:KeyValuePairOfUserintg2UO1GBV" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValuePairOfUserintg2UO1GBV" nillable="true" type="tns:ArrayOfKeyValuePairOfUserintg2UO1GBV" />
  <xs:complexType name="KeyValuePairOfUserintg2UO1GBV">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="KeyValuePairOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="User" Namespace="http://schemas.datacontract.org/2004/07/RoomM.Domain.UserModule.Aggregates" />
          <GenericParameter Name="int" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/RoomM.Domain.UserModule.Aggregates" name="key" nillable="true" type="q1:User" />
      <xs:element name="value" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KeyValuePairOfUserintg2UO1GBV" nillable="true" type="tns:KeyValuePairOfUserintg2UO1GBV" />
</xs:schema>