RoomM.WebAppClient/Service References/UserManagementWS/UserManagementWS1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RoomM.Domain.UserModule.Aggregates" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RoomM.Domain.UserModule.Aggregates" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:56445/UserModule/Implement/UserManagementWS.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/RoomM.Domain" />
  <xs:complexType name="User">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/RoomM.Domain" base="q1:EntityBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="AccessFailedCount" type="xs:int" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsWorking" type="xs:boolean" />
          <xs:element minOccurs="0" name="LastLogin" type="xs:dateTime" />
          <xs:element minOccurs="0" name="LockoutEnabled" type="xs:boolean" />
          <xs:element minOccurs="0" name="LockoutEndDateUtc" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="PasswordHash" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Role" nillable="true" type="tns:Role" />
          <xs:element minOccurs="0" name="RoleId" type="xs:long" />
          <xs:element minOccurs="0" name="SecurityStamp" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Sex" type="xs:boolean" />
          <xs:element minOccurs="0" name="TwoFactorEnabled" type="xs:boolean" />
          <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="Role">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/RoomM.Domain" base="q2:EntityBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Role" nillable="true" type="tns:Role" />
  <xs:complexType name="ArrayOfUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="User" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUser" nillable="true" type="tns:ArrayOfUser" />
  <xs:complexType name="ArrayOfRole">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Role" nillable="true" type="tns:Role" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRole" nillable="true" type="tns:ArrayOfRole" />
  <xs:complexType name="ArrayOfUserClaim">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserClaim" nillable="true" type="tns:UserClaim" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserClaim" nillable="true" type="tns:ArrayOfUserClaim" />
  <xs:complexType name="UserClaim">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/RoomM.Domain" base="q3:EntityBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="ClaimType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ClaimValue" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
          <xs:element minOccurs="0" name="UserId" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UserClaim" nillable="true" type="tns:UserClaim" />
  <xs:complexType name="ArrayOfUserLogin">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserLogin" nillable="true" type="tns:UserLogin" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserLogin" nillable="true" type="tns:ArrayOfUserLogin" />
  <xs:complexType name="UserLogin">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/RoomM.Domain" base="q4:EntityBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="LoginProvider" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ProviderKey" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
          <xs:element minOccurs="0" name="UserId" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UserLogin" nillable="true" type="tns:UserLogin" />
</xs:schema>