RoomM.DeskAppClient/Service References/RoomAssetService/RoomAssetService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RoomAssetService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:62978/Rooms/Implement/RoomAssetService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:62978/Rooms/Implement/RoomAssetService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:62978/Rooms/Implement/RoomAssetService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RoomM.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRoomAssetService_GetAll_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAll" />
  </wsdl:message>
  <wsdl:message name="IRoomAssetService_GetAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllResponse" />
  </wsdl:message>
  <wsdl:message name="IRoomAssetService_Add_InputMessage">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="IRoomAssetService_Add_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="IRoomAssetService_DeleteByT_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteByT" />
  </wsdl:message>
  <wsdl:message name="IRoomAssetService_DeleteByT_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteByTResponse" />
  </wsdl:message>
  <wsdl:message name="IRoomAssetService_DeleteByObject_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteByObject" />
  </wsdl:message>
  <wsdl:message name="IRoomAssetService_DeleteByObject_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteByObjectResponse" />
  </wsdl:message>
  <wsdl:message name="IRoomAssetService_Edit_InputMessage">
    <wsdl:part name="parameters" element="tns:Edit" />
  </wsdl:message>
  <wsdl:message name="IRoomAssetService_Edit_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditResponse" />
  </wsdl:message>
  <wsdl:message name="IRoomAssetService_Save_InputMessage">
    <wsdl:part name="parameters" element="tns:Save" />
  </wsdl:message>
  <wsdl:message name="IRoomAssetService_Save_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveResponse" />
  </wsdl:message>
  <wsdl:message name="IRoomAssetService_GetSingle_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSingle" />
  </wsdl:message>
  <wsdl:message name="IRoomAssetService_GetSingle_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSingleResponse" />
  </wsdl:message>
  <wsdl:message name="IRoomAssetService_GetByRoomId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetByRoomId" />
  </wsdl:message>
  <wsdl:message name="IRoomAssetService_GetByRoomId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByRoomIdResponse" />
  </wsdl:message>
  <wsdl:message name="IRoomAssetService_GetByAssetId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetByAssetId" />
  </wsdl:message>
  <wsdl:message name="IRoomAssetService_GetByAssetId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByAssetIdResponse" />
  </wsdl:message>
  <wsdl:message name="IRoomAssetService_AddOrUpdate_InputMessage">
    <wsdl:part name="parameters" element="tns:AddOrUpdate" />
  </wsdl:message>
  <wsdl:message name="IRoomAssetService_AddOrUpdate_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddOrUpdateResponse" />
  </wsdl:message>
  <wsdl:portType name="IRoomAssetService">
    <wsdl:operation name="GetAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_RoomAsset/GetAll" message="tns:IRoomAssetService_GetAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_RoomAsset/GetAllResponse" message="tns:IRoomAssetService_GetAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Add">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_RoomAsset/Add" message="tns:IRoomAssetService_Add_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_RoomAsset/AddResponse" message="tns:IRoomAssetService_Add_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteByT">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_RoomAsset/DeleteByT" message="tns:IRoomAssetService_DeleteByT_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_RoomAsset/DeleteByTResponse" message="tns:IRoomAssetService_DeleteByT_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteByObject">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_RoomAsset/DeleteByObject" message="tns:IRoomAssetService_DeleteByObject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_RoomAsset/DeleteByObjectResponse" message="tns:IRoomAssetService_DeleteByObject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Edit">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_RoomAsset/Edit" message="tns:IRoomAssetService_Edit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_RoomAsset/EditResponse" message="tns:IRoomAssetService_Edit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Save">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_RoomAsset/Save" message="tns:IRoomAssetService_Save_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_RoomAsset/SaveResponse" message="tns:IRoomAssetService_Save_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSingle">
      <wsdl:input wsaw:Action="http://tempuri.org/IRoomAssetService/GetSingle" message="tns:IRoomAssetService_GetSingle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRoomAssetService/GetSingleResponse" message="tns:IRoomAssetService_GetSingle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetByRoomId">
      <wsdl:input wsaw:Action="http://tempuri.org/IRoomAssetService/GetByRoomId" message="tns:IRoomAssetService_GetByRoomId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRoomAssetService/GetByRoomIdResponse" message="tns:IRoomAssetService_GetByRoomId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetByAssetId">
      <wsdl:input wsaw:Action="http://tempuri.org/IRoomAssetService/GetByAssetId" message="tns:IRoomAssetService_GetByAssetId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRoomAssetService/GetByAssetIdResponse" message="tns:IRoomAssetService_GetByAssetId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddOrUpdate">
      <wsdl:input wsaw:Action="http://tempuri.org/IRoomAssetService/AddOrUpdate" message="tns:IRoomAssetService_AddOrUpdate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRoomAssetService/AddOrUpdateResponse" message="tns:IRoomAssetService_AddOrUpdate_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRoomAssetService" type="tns:IRoomAssetService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAll">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_RoomAsset/GetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Add">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_RoomAsset/Add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteByT">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_RoomAsset/DeleteByT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteByObject">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_RoomAsset/DeleteByObject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Edit">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_RoomAsset/Edit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Save">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_RoomAsset/Save" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSingle">
      <soap:operation soapAction="http://tempuri.org/IRoomAssetService/GetSingle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetByRoomId">
      <soap:operation soapAction="http://tempuri.org/IRoomAssetService/GetByRoomId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetByAssetId">
      <soap:operation soapAction="http://tempuri.org/IRoomAssetService/GetByAssetId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddOrUpdate">
      <soap:operation soapAction="http://tempuri.org/IRoomAssetService/AddOrUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RoomAssetService">
    <wsdl:port name="BasicHttpBinding_IRoomAssetService" binding="tns:BasicHttpBinding_IRoomAssetService">
      <soap:address location="http://localhost:62978/Rooms/Implement/RoomAssetService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>