RoomM.DeskAppClient/Service References/RoomAssetService/RoomM.Models1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/RoomM.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RoomM.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfRoomAsset">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RoomAsset" nillable="true" type="tns:RoomAsset" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRoomAsset" nillable="true" type="tns:ArrayOfRoomAsset" />
  <xs:complexType name="RoomAsset">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Amount" type="xs:int" />
          <xs:element minOccurs="0" name="AssetId" type="xs:long" />
          <xs:element minOccurs="0" name="RoomId" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RoomAsset" nillable="true" type="tns:RoomAsset" />
  <xs:complexType name="EntityBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:long" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="EntityBase" nillable="true" type="tns:EntityBase" />
</xs:schema>