Tuan/T4Room-master/RoomM.DeskApp/Service References/RoomAssetHistoryService/RoomAssetHistoryService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RoomAssetHistoryService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:62978/Assets/Implement/RoomAssetHistoryService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:62978/Assets/Implement/RoomAssetHistoryService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:62978/Assets/Implement/RoomAssetHistoryService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RoomM.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRoomAssetHistoryService_GetAll_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAll" />
  </wsdl:message>
  <wsdl:message name="IRoomAssetHistoryService_GetAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllResponse" />
  </wsdl:message>
  <wsdl:message name="IRoomAssetHistoryService_Add_InputMessage">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="IRoomAssetHistoryService_Add_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="IRoomAssetHistoryService_DeleteByT_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteByT" />
  </wsdl:message>
  <wsdl:message name="IRoomAssetHistoryService_DeleteByT_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteByTResponse" />
  </wsdl:message>
  <wsdl:message name="IRoomAssetHistoryService_DeleteByObject_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteByObject" />
  </wsdl:message>
  <wsdl:message name="IRoomAssetHistoryService_DeleteByObject_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteByObjectResponse" />
  </wsdl:message>
  <wsdl:message name="IRoomAssetHistoryService_Edit_InputMessage">
    <wsdl:part name="parameters" element="tns:Edit" />
  </wsdl:message>
  <wsdl:message name="IRoomAssetHistoryService_Edit_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditResponse" />
  </wsdl:message>
  <wsdl:message name="IRoomAssetHistoryService_Save_InputMessage">
    <wsdl:part name="parameters" element="tns:Save" />
  </wsdl:message>
  <wsdl:message name="IRoomAssetHistoryService_Save_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveResponse" />
  </wsdl:message>
  <wsdl:message name="IRoomAssetHistoryService_GetSingle_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSingle" />
  </wsdl:message>
  <wsdl:message name="IRoomAssetHistoryService_GetSingle_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSingleResponse" />
  </wsdl:message>
  <wsdl:message name="IRoomAssetHistoryService_GetByRoomId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetByRoomId" />
  </wsdl:message>
  <wsdl:message name="IRoomAssetHistoryService_GetByRoomId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByRoomIdResponse" />
  </wsdl:message>
  <wsdl:message name="IRoomAssetHistoryService_GetByRoom2RoomId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetByRoom2RoomId" />
  </wsdl:message>
  <wsdl:message name="IRoomAssetHistoryService_GetByRoom2RoomId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByRoom2RoomIdResponse" />
  </wsdl:message>
  <wsdl:portType name="IRoomAssetHistoryService">
    <wsdl:operation name="GetAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_RoomAssetHistory/GetAll" message="tns:IRoomAssetHistoryService_GetAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_RoomAssetHistory/GetAllResponse" message="tns:IRoomAssetHistoryService_GetAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Add">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_RoomAssetHistory/Add" message="tns:IRoomAssetHistoryService_Add_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_RoomAssetHistory/AddResponse" message="tns:IRoomAssetHistoryService_Add_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteByT">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_RoomAssetHistory/DeleteByT" message="tns:IRoomAssetHistoryService_DeleteByT_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_RoomAssetHistory/DeleteByTResponse" message="tns:IRoomAssetHistoryService_DeleteByT_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteByObject">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_RoomAssetHistory/DeleteByObject" message="tns:IRoomAssetHistoryService_DeleteByObject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_RoomAssetHistory/DeleteByObjectResponse" message="tns:IRoomAssetHistoryService_DeleteByObject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Edit">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_RoomAssetHistory/Edit" message="tns:IRoomAssetHistoryService_Edit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_RoomAssetHistory/EditResponse" message="tns:IRoomAssetHistoryService_Edit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Save">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_RoomAssetHistory/Save" message="tns:IRoomAssetHistoryService_Save_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_RoomAssetHistory/SaveResponse" message="tns:IRoomAssetHistoryService_Save_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSingle">
      <wsdl:input wsaw:Action="http://tempuri.org/IRoomAssetHistoryService/GetSingle" message="tns:IRoomAssetHistoryService_GetSingle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRoomAssetHistoryService/GetSingleResponse" message="tns:IRoomAssetHistoryService_GetSingle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetByRoomId">
      <wsdl:input wsaw:Action="http://tempuri.org/IRoomAssetHistoryService/GetByRoomId" message="tns:IRoomAssetHistoryService_GetByRoomId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRoomAssetHistoryService/GetByRoomIdResponse" message="tns:IRoomAssetHistoryService_GetByRoomId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetByRoom2RoomId">
      <wsdl:input wsaw:Action="http://tempuri.org/IRoomAssetHistoryService/GetByRoom2RoomId" message="tns:IRoomAssetHistoryService_GetByRoom2RoomId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRoomAssetHistoryService/GetByRoom2RoomIdResponse" message="tns:IRoomAssetHistoryService_GetByRoom2RoomId_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRoomAssetHistoryService" type="tns:IRoomAssetHistoryService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAll">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_RoomAssetHistory/GetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Add">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_RoomAssetHistory/Add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteByT">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_RoomAssetHistory/DeleteByT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteByObject">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_RoomAssetHistory/DeleteByObject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Edit">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_RoomAssetHistory/Edit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Save">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_RoomAssetHistory/Save" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSingle">
      <soap:operation soapAction="http://tempuri.org/IRoomAssetHistoryService/GetSingle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetByRoomId">
      <soap:operation soapAction="http://tempuri.org/IRoomAssetHistoryService/GetByRoomId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetByRoom2RoomId">
      <soap:operation soapAction="http://tempuri.org/IRoomAssetHistoryService/GetByRoom2RoomId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RoomAssetHistoryService">
    <wsdl:port name="BasicHttpBinding_IRoomAssetHistoryService" binding="tns:BasicHttpBinding_IRoomAssetHistoryService">
      <soap:address location="http://localhost:62978/Assets/Implement/RoomAssetHistoryService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>