RoomM.DeskAppClient/Service References/RoomTypeService/RoomTypeService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:62978/Rooms/Implement/RoomTypeService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RoomM.Models" />
  <xs:element name="GetAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/RoomM.Models" minOccurs="0" name="GetAllResult" nillable="true" type="q1:ArrayOfRoomType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Add">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/RoomM.Models" minOccurs="0" name="entity" nillable="true" type="q2:RoomType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteByT">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/RoomM.Models" minOccurs="0" name="entity" nillable="true" type="q3:RoomType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteByTResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteByObject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteByObjectResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Edit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/RoomM.Models" minOccurs="0" name="entity" nillable="true" type="q4:RoomType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSingle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="roomTypeId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSingleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/RoomM.Models" minOccurs="0" name="GetSingleResult" nillable="true" type="q5:RoomType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>