RoomM.DeskAppClient/Service References/RoomTypeService/service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RoomTypeService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IRoomTypeService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/RoomM.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRoomTypeService_GetAll_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAll" />
  </wsdl:message>
  <wsdl:message name="IRoomTypeService_GetAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllResponse" />
  </wsdl:message>
  <wsdl:message name="IRoomTypeService_Add_InputMessage">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="IRoomTypeService_Add_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="IRoomTypeService_DeleteByT_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteByT" />
  </wsdl:message>
  <wsdl:message name="IRoomTypeService_DeleteByT_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteByTResponse" />
  </wsdl:message>
  <wsdl:message name="IRoomTypeService_DeleteByObject_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteByObject" />
  </wsdl:message>
  <wsdl:message name="IRoomTypeService_DeleteByObject_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteByObjectResponse" />
  </wsdl:message>
  <wsdl:message name="IRoomTypeService_Edit_InputMessage">
    <wsdl:part name="parameters" element="tns:Edit" />
  </wsdl:message>
  <wsdl:message name="IRoomTypeService_Edit_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditResponse" />
  </wsdl:message>
  <wsdl:message name="IRoomTypeService_GetSingle_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSingle" />
  </wsdl:message>
  <wsdl:message name="IRoomTypeService_GetSingle_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSingleResponse" />
  </wsdl:message>
  <wsdl:portType name="IRoomTypeService">
    <wsdl:operation name="GetAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_RoomType/GetAll" message="tns:IRoomTypeService_GetAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_RoomType/GetAllResponse" message="tns:IRoomTypeService_GetAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Add">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_RoomType/Add" message="tns:IRoomTypeService_Add_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_RoomType/AddResponse" message="tns:IRoomTypeService_Add_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteByT">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_RoomType/DeleteByT" message="tns:IRoomTypeService_DeleteByT_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_RoomType/DeleteByTResponse" message="tns:IRoomTypeService_DeleteByT_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteByObject">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_RoomType/DeleteByObject" message="tns:IRoomTypeService_DeleteByObject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_RoomType/DeleteByObjectResponse" message="tns:IRoomTypeService_DeleteByObject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Edit">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_RoomType/Edit" message="tns:IRoomTypeService_Edit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_RoomType/EditResponse" message="tns:IRoomTypeService_Edit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSingle">
      <wsdl:input wsaw:Action="http://tempuri.org/IRoomTypeService/GetSingle" message="tns:IRoomTypeService_GetSingle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRoomTypeService/GetSingleResponse" message="tns:IRoomTypeService_GetSingle_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRoomTypeService" type="tns:IRoomTypeService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAll">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_RoomType/GetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Add">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_RoomType/Add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteByT">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_RoomType/DeleteByT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteByObject">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_RoomType/DeleteByObject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Edit">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_RoomType/Edit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSingle">
      <soap:operation soapAction="http://tempuri.org/IRoomTypeService/GetSingle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IRoomTypeService" type="tns:IRoomTypeService">
    <wsp:PolicyReference URI="#NetTcpBinding_IRoomTypeService_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetAll">
      <soap12:operation soapAction="http://tempuri.org/IServiceOf_RoomType/GetAll" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Add">
      <soap12:operation soapAction="http://tempuri.org/IServiceOf_RoomType/Add" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteByT">
      <soap12:operation soapAction="http://tempuri.org/IServiceOf_RoomType/DeleteByT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteByObject">
      <soap12:operation soapAction="http://tempuri.org/IServiceOf_RoomType/DeleteByObject" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Edit">
      <soap12:operation soapAction="http://tempuri.org/IServiceOf_RoomType/Edit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSingle">
      <soap12:operation soapAction="http://tempuri.org/IRoomTypeService/GetSingle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RoomTypeService">
    <wsdl:port name="BasicHttpBinding_IRoomTypeService" binding="tns:BasicHttpBinding_IRoomTypeService">
      <soap:address location="http://localhost:62978/RoomTypeService" />
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IRoomTypeService" binding="tns:NetTcpBinding_IRoomTypeService">
      <soap12:address location="net.tcp://localhost:8282/RoomTypeService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8282/RoomTypeService</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>