RoomM.WebServiceTest/Service References/RoomService/RoomService6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:62978/Rooms/Implement/RoomService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RoomM.Models.Rooms" />
  <xs:import schemaLocation="http://localhost:62978/Rooms/Implement/RoomService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/System.Collections" />
  <xs:element name="GetSingle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="roomId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSingleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/RoomM.Models.Rooms" minOccurs="0" name="GetSingleResult" nillable="true" type="q1:Room" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByRoomTypeId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="roomTypeId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByRoomTypeIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/RoomM.Models.Rooms" minOccurs="0" name="GetByRoomTypeIdResult" nillable="true" type="q2:ArrayOfRoom" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoomListLimitByRegister">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="limit" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoomListLimitByRegisterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/RoomM.Models.Rooms" minOccurs="0" name="GetRoomListLimitByRegisterResult" nillable="true" type="q3:ArrayOfRoom" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoomLimitByRegister">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="limit" type="xs:int" />
        <xs:element minOccurs="0" name="from" type="xs:dateTime" />
        <xs:element minOccurs="0" name="to" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoomLimitByRegisterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/System.Collections" minOccurs="0" name="GetRoomLimitByRegisterResult" nillable="true" type="q4:ArrayOfDictionaryEntry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="isUniqueName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="isUniqueNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="isUniqueNameResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>