RoomM.ServiceTest/Service References/RoomService/RoomService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/RoomM.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RoomM.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://localhost:62978/RoomService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="Room">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="AssetHistories" nillable="true" type="tns:ArrayOfRoomAssetHistory" />
          <xs:element minOccurs="0" name="DateCreate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsUsing" type="xs:boolean" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RoomAssets" nillable="true" type="tns:ArrayOfRoomAsset" />
          <xs:element minOccurs="0" name="RoomCalendars" nillable="true" type="tns:ArrayOfRoomCalendar" />
          <xs:element minOccurs="0" name="RoomType" nillable="true" type="tns:RoomType" />
          <xs:element minOccurs="0" name="RoomTypeId" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Room" nillable="true" type="tns:Room" />
  <xs:complexType name="EntityBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:long" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="EntityBase" nillable="true" type="tns:EntityBase" />
  <xs:complexType name="ArrayOfRoomAssetHistory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RoomAssetHistory" nillable="true" type="tns:RoomAssetHistory" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRoomAssetHistory" nillable="true" type="tns:ArrayOfRoomAssetHistory" />
  <xs:complexType name="RoomAssetHistory">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Amount" type="xs:int" />
          <xs:element minOccurs="0" name="Asset" nillable="true" type="tns:Asset" />
          <xs:element minOccurs="0" name="AssetHistoryTypeId" type="xs:long" />
          <xs:element minOccurs="0" name="AssetId" type="xs:long" />
          <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
          <xs:element minOccurs="0" name="HistoryType" nillable="true" type="tns:HistoryType" />
          <xs:element minOccurs="0" name="Room" nillable="true" type="tns:Room" />
          <xs:element minOccurs="0" name="Room2" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RoomId" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RoomAssetHistory" nillable="true" type="tns:RoomAssetHistory" />
  <xs:complexType name="Asset">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="AssetHistories" nillable="true" type="tns:ArrayOfRoomAssetHistory" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsUsing" type="xs:boolean" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RoomAssets" nillable="true" type="tns:ArrayOfRoomAsset" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Asset" nillable="true" type="tns:Asset" />
  <xs:complexType name="ArrayOfRoomAsset">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RoomAsset" nillable="true" type="tns:RoomAsset" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRoomAsset" nillable="true" type="tns:ArrayOfRoomAsset" />
  <xs:complexType name="RoomAsset">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Amount" type="xs:int" />
          <xs:element minOccurs="0" name="Asset" nillable="true" type="tns:Asset" />
          <xs:element minOccurs="0" name="AssetId" type="xs:long" />
          <xs:element minOccurs="0" name="Room" nillable="true" type="tns:Room" />
          <xs:element minOccurs="0" name="RoomId" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RoomAsset" nillable="true" type="tns:RoomAsset" />
  <xs:complexType name="HistoryType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="AssetHistories" nillable="true" type="tns:ArrayOfRoomAssetHistory" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="HistoryType" nillable="true" type="tns:HistoryType" />
  <xs:complexType name="ArrayOfRoomCalendar">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RoomCalendar" nillable="true" type="tns:RoomCalendar" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRoomCalendar" nillable="true" type="tns:ArrayOfRoomCalendar" />
  <xs:complexType name="RoomCalendar">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
          <xs:element minOccurs="0" name="IsWatched" type="xs:boolean" />
          <xs:element minOccurs="0" name="Length" type="xs:int" />
          <xs:element minOccurs="0" name="Room" nillable="true" type="tns:Room" />
          <xs:element minOccurs="0" name="RoomCalendarStatus" nillable="true" type="tns:RoomCalendarStatus" />
          <xs:element minOccurs="0" name="RoomCalendarStatusId" type="xs:long" />
          <xs:element minOccurs="0" name="RoomId" type="xs:long" />
          <xs:element minOccurs="0" name="Staff" nillable="true" type="tns:Staff" />
          <xs:element minOccurs="0" name="StaffId" type="xs:long" />
          <xs:element minOccurs="0" name="Start" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RoomCalendar" nillable="true" type="tns:RoomCalendar" />
  <xs:complexType name="RoomCalendarStatus">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RoomCalendars" nillable="true" type="tns:ArrayOfRoomCalendar" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RoomCalendarStatus" nillable="true" type="tns:RoomCalendarStatus" />
  <xs:complexType name="Staff">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsWorking" type="xs:boolean" />
          <xs:element minOccurs="0" name="LastLogin" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PasswordStored" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RoomCalendars" nillable="true" type="tns:ArrayOfRoomCalendar" />
          <xs:element minOccurs="0" name="Sex" type="xs:boolean" />
          <xs:element minOccurs="0" name="StaffType" nillable="true" type="tns:StaffType" />
          <xs:element minOccurs="0" name="StaffTypeId" type="xs:long" />
          <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Staff" nillable="true" type="tns:Staff" />
  <xs:complexType name="StaffType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Staffs" nillable="true" type="tns:ArrayOfStaff" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StaffType" nillable="true" type="tns:StaffType" />
  <xs:complexType name="ArrayOfStaff">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Staff" nillable="true" type="tns:Staff" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStaff" nillable="true" type="tns:ArrayOfStaff" />
  <xs:complexType name="RoomType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Rooms" nillable="true" type="tns:ArrayOfRoom" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RoomType" nillable="true" type="tns:RoomType" />
  <xs:complexType name="ArrayOfRoom">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Room" nillable="true" type="tns:Room" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRoom" nillable="true" type="tns:ArrayOfRoom" />
</xs:schema>