RoomM.DeskAppClient/Service References/RoomCalendarStatusService/RoomCalendarStatusService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RoomCalendarStatusService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:62978/Rooms/Implement/RoomCalendarStatusService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:62978/Rooms/Implement/RoomCalendarStatusService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:62978/Rooms/Implement/RoomCalendarStatusService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RoomM.Models" />
      <xsd:import schemaLocation="http://localhost:62978/Rooms/Implement/RoomCalendarStatusService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRoomCalendarStatusService_GetAll_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAll" />
  </wsdl:message>
  <wsdl:message name="IRoomCalendarStatusService_GetAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllResponse" />
  </wsdl:message>
  <wsdl:message name="IRoomCalendarStatusService_Add_InputMessage">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="IRoomCalendarStatusService_Add_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="IRoomCalendarStatusService_DeleteByT_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteByT" />
  </wsdl:message>
  <wsdl:message name="IRoomCalendarStatusService_DeleteByT_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteByTResponse" />
  </wsdl:message>
  <wsdl:message name="IRoomCalendarStatusService_DeleteByObject_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteByObject" />
  </wsdl:message>
  <wsdl:message name="IRoomCalendarStatusService_DeleteByObject_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteByObjectResponse" />
  </wsdl:message>
  <wsdl:message name="IRoomCalendarStatusService_Edit_InputMessage">
    <wsdl:part name="parameters" element="tns:Edit" />
  </wsdl:message>
  <wsdl:message name="IRoomCalendarStatusService_Edit_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditResponse" />
  </wsdl:message>
  <wsdl:message name="IRoomCalendarStatusService_GetSingle_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSingle" />
  </wsdl:message>
  <wsdl:message name="IRoomCalendarStatusService_GetSingle_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSingleResponse" />
  </wsdl:message>
  <wsdl:message name="IRoomCalendarStatusService_GetNameList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNameList" />
  </wsdl:message>
  <wsdl:message name="IRoomCalendarStatusService_GetNameList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNameListResponse" />
  </wsdl:message>
  <wsdl:portType name="IRoomCalendarStatusService">
    <wsdl:operation name="GetAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_RoomCalendarStatus/GetAll" message="tns:IRoomCalendarStatusService_GetAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_RoomCalendarStatus/GetAllResponse" message="tns:IRoomCalendarStatusService_GetAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Add">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_RoomCalendarStatus/Add" message="tns:IRoomCalendarStatusService_Add_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_RoomCalendarStatus/AddResponse" message="tns:IRoomCalendarStatusService_Add_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteByT">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_RoomCalendarStatus/DeleteByT" message="tns:IRoomCalendarStatusService_DeleteByT_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_RoomCalendarStatus/DeleteByTResponse" message="tns:IRoomCalendarStatusService_DeleteByT_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteByObject">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_RoomCalendarStatus/DeleteByObject" message="tns:IRoomCalendarStatusService_DeleteByObject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_RoomCalendarStatus/DeleteByObjectResponse" message="tns:IRoomCalendarStatusService_DeleteByObject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Edit">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_RoomCalendarStatus/Edit" message="tns:IRoomCalendarStatusService_Edit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_RoomCalendarStatus/EditResponse" message="tns:IRoomCalendarStatusService_Edit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSingle">
      <wsdl:input wsaw:Action="http://tempuri.org/IRoomCalendarStatusService/GetSingle" message="tns:IRoomCalendarStatusService_GetSingle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRoomCalendarStatusService/GetSingleResponse" message="tns:IRoomCalendarStatusService_GetSingle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNameList">
      <wsdl:input wsaw:Action="http://tempuri.org/IRoomCalendarStatusService/GetNameList" message="tns:IRoomCalendarStatusService_GetNameList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRoomCalendarStatusService/GetNameListResponse" message="tns:IRoomCalendarStatusService_GetNameList_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRoomCalendarStatusService" type="tns:IRoomCalendarStatusService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAll">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_RoomCalendarStatus/GetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Add">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_RoomCalendarStatus/Add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteByT">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_RoomCalendarStatus/DeleteByT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteByObject">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_RoomCalendarStatus/DeleteByObject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Edit">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_RoomCalendarStatus/Edit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSingle">
      <soap:operation soapAction="http://tempuri.org/IRoomCalendarStatusService/GetSingle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNameList">
      <soap:operation soapAction="http://tempuri.org/IRoomCalendarStatusService/GetNameList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RoomCalendarStatusService">
    <wsdl:port name="BasicHttpBinding_IRoomCalendarStatusService" binding="tns:BasicHttpBinding_IRoomCalendarStatusService">
      <soap:address location="http://localhost:62978/Rooms/Implement/RoomCalendarStatusService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>