RoomM.DeskAppClient/Service References/RoomCalendarStatusService/RoomCalendarStatusService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:62978/Rooms/Implement/RoomCalendarStatusService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RoomM.Models" />
  <xs:import schemaLocation="http://localhost:62978/Rooms/Implement/RoomCalendarStatusService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/RoomM.Models" minOccurs="0" name="GetAllResult" nillable="true" type="q1:ArrayOfRoomCalendarStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Add">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/RoomM.Models" minOccurs="0" name="entity" nillable="true" type="q2:RoomCalendarStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteByT">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/RoomM.Models" minOccurs="0" name="entity" nillable="true" type="q3:RoomCalendarStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteByTResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteByObject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteByObjectResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Edit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/RoomM.Models" minOccurs="0" name="entity" nillable="true" type="q4:RoomCalendarStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Save">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSingle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="statusId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSingleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/RoomM.Models" minOccurs="0" name="GetSingleResult" nillable="true" type="q5:RoomCalendarStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNameList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNameListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetNameListResult" nillable="true" type="q6:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>