RoomM.WebServiceTest/Service References/StaffTypeService/StaffTypeService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:62978/Staffs/Implement/StaffTypeService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RoomM.Models.Staffs" />
  <xs:element name="GetSingle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="staffTypeId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSingleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/RoomM.Models.Staffs" minOccurs="0" name="GetSingleResult" nillable="true" type="q1:StaffType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>