RoomM.DeskAppClient/Service References/RoomAssetHistoryService/service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RoomAssetHistoryService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IRoomAssetHistoryService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/RoomM.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRoomAssetHistoryService_GetAll_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAll" />
  </wsdl:message>
  <wsdl:message name="IRoomAssetHistoryService_GetAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllResponse" />
  </wsdl:message>
  <wsdl:message name="IRoomAssetHistoryService_Add_InputMessage">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="IRoomAssetHistoryService_Add_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="IRoomAssetHistoryService_DeleteByT_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteByT" />
  </wsdl:message>
  <wsdl:message name="IRoomAssetHistoryService_DeleteByT_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteByTResponse" />
  </wsdl:message>
  <wsdl:message name="IRoomAssetHistoryService_DeleteByObject_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteByObject" />
  </wsdl:message>
  <wsdl:message name="IRoomAssetHistoryService_DeleteByObject_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteByObjectResponse" />
  </wsdl:message>
  <wsdl:message name="IRoomAssetHistoryService_Edit_InputMessage">
    <wsdl:part name="parameters" element="tns:Edit" />
  </wsdl:message>
  <wsdl:message name="IRoomAssetHistoryService_Edit_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditResponse" />
  </wsdl:message>
  <wsdl:message name="IRoomAssetHistoryService_GetSingle_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSingle" />
  </wsdl:message>
  <wsdl:message name="IRoomAssetHistoryService_GetSingle_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSingleResponse" />
  </wsdl:message>
  <wsdl:message name="IRoomAssetHistoryService_GetByRoomId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetByRoomId" />
  </wsdl:message>
  <wsdl:message name="IRoomAssetHistoryService_GetByRoomId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByRoomIdResponse" />
  </wsdl:message>
  <wsdl:message name="IRoomAssetHistoryService_GetByRoom2RoomId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetByRoom2RoomId" />
  </wsdl:message>
  <wsdl:message name="IRoomAssetHistoryService_GetByRoom2RoomId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByRoom2RoomIdResponse" />
  </wsdl:message>
  <wsdl:portType name="IRoomAssetHistoryService">
    <wsdl:operation name="GetAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_RoomAssetHistory/GetAll" message="tns:IRoomAssetHistoryService_GetAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_RoomAssetHistory/GetAllResponse" message="tns:IRoomAssetHistoryService_GetAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Add">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_RoomAssetHistory/Add" message="tns:IRoomAssetHistoryService_Add_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_RoomAssetHistory/AddResponse" message="tns:IRoomAssetHistoryService_Add_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteByT">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_RoomAssetHistory/DeleteByT" message="tns:IRoomAssetHistoryService_DeleteByT_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_RoomAssetHistory/DeleteByTResponse" message="tns:IRoomAssetHistoryService_DeleteByT_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteByObject">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_RoomAssetHistory/DeleteByObject" message="tns:IRoomAssetHistoryService_DeleteByObject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_RoomAssetHistory/DeleteByObjectResponse" message="tns:IRoomAssetHistoryService_DeleteByObject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Edit">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_RoomAssetHistory/Edit" message="tns:IRoomAssetHistoryService_Edit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_RoomAssetHistory/EditResponse" message="tns:IRoomAssetHistoryService_Edit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSingle">
      <wsdl:input wsaw:Action="http://tempuri.org/IRoomAssetHistoryService/GetSingle" message="tns:IRoomAssetHistoryService_GetSingle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRoomAssetHistoryService/GetSingleResponse" message="tns:IRoomAssetHistoryService_GetSingle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetByRoomId">
      <wsdl:input wsaw:Action="http://tempuri.org/IRoomAssetHistoryService/GetByRoomId" message="tns:IRoomAssetHistoryService_GetByRoomId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRoomAssetHistoryService/GetByRoomIdResponse" message="tns:IRoomAssetHistoryService_GetByRoomId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetByRoom2RoomId">
      <wsdl:input wsaw:Action="http://tempuri.org/IRoomAssetHistoryService/GetByRoom2RoomId" message="tns:IRoomAssetHistoryService_GetByRoom2RoomId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRoomAssetHistoryService/GetByRoom2RoomIdResponse" message="tns:IRoomAssetHistoryService_GetByRoom2RoomId_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRoomAssetHistoryService" type="tns:IRoomAssetHistoryService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAll">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_RoomAssetHistory/GetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Add">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_RoomAssetHistory/Add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteByT">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_RoomAssetHistory/DeleteByT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteByObject">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_RoomAssetHistory/DeleteByObject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Edit">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_RoomAssetHistory/Edit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSingle">
      <soap:operation soapAction="http://tempuri.org/IRoomAssetHistoryService/GetSingle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetByRoomId">
      <soap:operation soapAction="http://tempuri.org/IRoomAssetHistoryService/GetByRoomId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetByRoom2RoomId">
      <soap:operation soapAction="http://tempuri.org/IRoomAssetHistoryService/GetByRoom2RoomId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IRoomAssetHistoryService" type="tns:IRoomAssetHistoryService">
    <wsp:PolicyReference URI="#NetTcpBinding_IRoomAssetHistoryService_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetAll">
      <soap12:operation soapAction="http://tempuri.org/IServiceOf_RoomAssetHistory/GetAll" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Add">
      <soap12:operation soapAction="http://tempuri.org/IServiceOf_RoomAssetHistory/Add" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteByT">
      <soap12:operation soapAction="http://tempuri.org/IServiceOf_RoomAssetHistory/DeleteByT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteByObject">
      <soap12:operation soapAction="http://tempuri.org/IServiceOf_RoomAssetHistory/DeleteByObject" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Edit">
      <soap12:operation soapAction="http://tempuri.org/IServiceOf_RoomAssetHistory/Edit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSingle">
      <soap12:operation soapAction="http://tempuri.org/IRoomAssetHistoryService/GetSingle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetByRoomId">
      <soap12:operation soapAction="http://tempuri.org/IRoomAssetHistoryService/GetByRoomId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetByRoom2RoomId">
      <soap12:operation soapAction="http://tempuri.org/IRoomAssetHistoryService/GetByRoom2RoomId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RoomAssetHistoryService">
    <wsdl:port name="BasicHttpBinding_IRoomAssetHistoryService" binding="tns:BasicHttpBinding_IRoomAssetHistoryService">
      <soap:address location="http://localhost:62978/RoomAssetHistoryService" />
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IRoomAssetHistoryService" binding="tns:NetTcpBinding_IRoomAssetHistoryService">
      <soap12:address location="net.tcp://localhost:8282/RoomAssetHistoryService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8282/RoomAssetHistoryService</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>