RoomM.DeskAppClient/Service References/AssetManagementWS/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/RoomM.Domain.AssetModule.Aggregates" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/RoomM.Domain.RoomModule.Aggregates" />
  <xs:element name="GetAssetList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssetListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/RoomM.Domain.AssetModule.Aggregates" minOccurs="0" name="GetAssetListResult" nillable="true" type="q1:ArrayOfAsset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssetDetailList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssetDetailListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/RoomM.Domain.AssetModule.Aggregates" minOccurs="0" name="GetAssetDetailListResult" nillable="true" type="q2:ArrayOfAssetDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssetDetailListByAssetId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="assetId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssetDetailListByAssetIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/RoomM.Domain.AssetModule.Aggregates" minOccurs="0" name="GetAssetDetailListByAssetIdResult" nillable="true" type="q3:ArrayOfAssetDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssetDetailListByRoomId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="roomId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssetDetailListByRoomIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/RoomM.Domain.AssetModule.Aggregates" minOccurs="0" name="GetAssetDetailListByRoomIdResult" nillable="true" type="q4:ArrayOfAssetDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssetHisListByRoomId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="roomId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssetHisListByRoomIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/RoomM.Domain.AssetModule.Aggregates" minOccurs="0" name="GetAssetHisListByRoomIdResult" nillable="true" type="q5:ArrayOfAssetHistory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssetHisListByBacktrace">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/RoomM.Domain.RoomModule.Aggregates" minOccurs="0" name="room" nillable="true" type="q6:Room" />
        <xs:element minOccurs="0" name="timeForBacktrace" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssetHisListByBacktraceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/RoomM.Domain.AssetModule.Aggregates" minOccurs="0" name="GetAssetHisListByBacktraceResult" nillable="true" type="q7:ArrayOfAssetHistory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssetAllRoomName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="assetId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssetAllRoomNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAssetAllRoomNameResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAsset">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/RoomM.Domain.AssetModule.Aggregates" minOccurs="0" name="asset" nillable="true" type="q8:Asset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAssetResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditAsset">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/RoomM.Domain.AssetModule.Aggregates" minOccurs="0" name="asset" nillable="true" type="q9:Asset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditAssetResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAsset">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/RoomM.Domain.AssetModule.Aggregates" minOccurs="0" name="asset" nillable="true" type="q10:Asset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAssetResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportAsset">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="assetId" type="xs:long" />
        <xs:element minOccurs="0" name="roomId" type="xs:long" />
        <xs:element minOccurs="0" name="amount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportAssetResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DropAsset">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/RoomM.Domain.AssetModule.Aggregates" minOccurs="0" name="assetDetail" nillable="true" type="q11:AssetDetail" />
        <xs:element minOccurs="0" name="amount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DropAssetResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TransferAsset">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/RoomM.Domain.AssetModule.Aggregates" minOccurs="0" name="assetDetail" nillable="true" type="q12:AssetDetail" />
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/RoomM.Domain.RoomModule.Aggregates" minOccurs="0" name="target" nillable="true" type="q13:Room" />
        <xs:element minOccurs="0" name="amount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TransferAssetResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>