RoomM.DeskAppClient/Service References/RoomService/RoomService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RoomService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:62978/Rooms/Implement/RoomService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:62978/Rooms/Implement/RoomService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:62978/Rooms/Implement/RoomService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RoomM.Models" />
      <xsd:import schemaLocation="http://localhost:62978/Rooms/Implement/RoomService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Collections" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRoomService_GetAll_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAll" />
  </wsdl:message>
  <wsdl:message name="IRoomService_GetAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllResponse" />
  </wsdl:message>
  <wsdl:message name="IRoomService_Add_InputMessage">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="IRoomService_Add_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="IRoomService_DeleteByT_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteByT" />
  </wsdl:message>
  <wsdl:message name="IRoomService_DeleteByT_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteByTResponse" />
  </wsdl:message>
  <wsdl:message name="IRoomService_DeleteByObject_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteByObject" />
  </wsdl:message>
  <wsdl:message name="IRoomService_DeleteByObject_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteByObjectResponse" />
  </wsdl:message>
  <wsdl:message name="IRoomService_Edit_InputMessage">
    <wsdl:part name="parameters" element="tns:Edit" />
  </wsdl:message>
  <wsdl:message name="IRoomService_Edit_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditResponse" />
  </wsdl:message>
  <wsdl:message name="IRoomService_GetSingle_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSingle" />
  </wsdl:message>
  <wsdl:message name="IRoomService_GetSingle_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSingleResponse" />
  </wsdl:message>
  <wsdl:message name="IRoomService_GetByRoomTypeId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetByRoomTypeId" />
  </wsdl:message>
  <wsdl:message name="IRoomService_GetByRoomTypeId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByRoomTypeIdResponse" />
  </wsdl:message>
  <wsdl:message name="IRoomService_GetRoomListLimitByRegister_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRoomListLimitByRegister" />
  </wsdl:message>
  <wsdl:message name="IRoomService_GetRoomListLimitByRegister_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRoomListLimitByRegisterResponse" />
  </wsdl:message>
  <wsdl:message name="IRoomService_GetRoomLimitByRegister_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRoomLimitByRegister" />
  </wsdl:message>
  <wsdl:message name="IRoomService_GetRoomLimitByRegister_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRoomLimitByRegisterResponse" />
  </wsdl:message>
  <wsdl:message name="IRoomService_isUniqueName_InputMessage">
    <wsdl:part name="parameters" element="tns:isUniqueName" />
  </wsdl:message>
  <wsdl:message name="IRoomService_isUniqueName_OutputMessage">
    <wsdl:part name="parameters" element="tns:isUniqueNameResponse" />
  </wsdl:message>
  <wsdl:portType name="IRoomService">
    <wsdl:operation name="GetAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_Room/GetAll" message="tns:IRoomService_GetAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_Room/GetAllResponse" message="tns:IRoomService_GetAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Add">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_Room/Add" message="tns:IRoomService_Add_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_Room/AddResponse" message="tns:IRoomService_Add_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteByT">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_Room/DeleteByT" message="tns:IRoomService_DeleteByT_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_Room/DeleteByTResponse" message="tns:IRoomService_DeleteByT_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteByObject">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_Room/DeleteByObject" message="tns:IRoomService_DeleteByObject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_Room/DeleteByObjectResponse" message="tns:IRoomService_DeleteByObject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Edit">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_Room/Edit" message="tns:IRoomService_Edit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_Room/EditResponse" message="tns:IRoomService_Edit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSingle">
      <wsdl:input wsaw:Action="http://tempuri.org/IRoomService/GetSingle" message="tns:IRoomService_GetSingle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRoomService/GetSingleResponse" message="tns:IRoomService_GetSingle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetByRoomTypeId">
      <wsdl:input wsaw:Action="http://tempuri.org/IRoomService/GetByRoomTypeId" message="tns:IRoomService_GetByRoomTypeId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRoomService/GetByRoomTypeIdResponse" message="tns:IRoomService_GetByRoomTypeId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRoomListLimitByRegister">
      <wsdl:input wsaw:Action="http://tempuri.org/IRoomService/GetRoomListLimitByRegister" message="tns:IRoomService_GetRoomListLimitByRegister_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRoomService/GetRoomListLimitByRegisterResponse" message="tns:IRoomService_GetRoomListLimitByRegister_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRoomLimitByRegister">
      <wsdl:input wsaw:Action="http://tempuri.org/IRoomService/GetRoomLimitByRegister" message="tns:IRoomService_GetRoomLimitByRegister_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRoomService/GetRoomLimitByRegisterResponse" message="tns:IRoomService_GetRoomLimitByRegister_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="isUniqueName">
      <wsdl:input wsaw:Action="http://tempuri.org/IRoomService/isUniqueName" message="tns:IRoomService_isUniqueName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRoomService/isUniqueNameResponse" message="tns:IRoomService_isUniqueName_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRoomService" type="tns:IRoomService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAll">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_Room/GetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Add">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_Room/Add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteByT">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_Room/DeleteByT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteByObject">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_Room/DeleteByObject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Edit">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_Room/Edit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSingle">
      <soap:operation soapAction="http://tempuri.org/IRoomService/GetSingle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetByRoomTypeId">
      <soap:operation soapAction="http://tempuri.org/IRoomService/GetByRoomTypeId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRoomListLimitByRegister">
      <soap:operation soapAction="http://tempuri.org/IRoomService/GetRoomListLimitByRegister" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRoomLimitByRegister">
      <soap:operation soapAction="http://tempuri.org/IRoomService/GetRoomLimitByRegister" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="isUniqueName">
      <soap:operation soapAction="http://tempuri.org/IRoomService/isUniqueName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RoomService">
    <wsdl:port name="BasicHttpBinding_IRoomService" binding="tns:BasicHttpBinding_IRoomService">
      <soap:address location="http://localhost:62978/Rooms/Implement/RoomService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>