RoomM.DeskAppClient/Service References/RoomCalenderService/RoomM.Models1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/RoomM.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RoomM.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfRoomCalendar">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RoomCalendar" nillable="true" type="tns:RoomCalendar" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRoomCalendar" nillable="true" type="tns:ArrayOfRoomCalendar" />
  <xs:complexType name="RoomCalendar">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
          <xs:element minOccurs="0" name="IsWatched" type="xs:boolean" />
          <xs:element minOccurs="0" name="Length" type="xs:int" />
          <xs:element minOccurs="0" name="RoomCalendarStatusId" type="xs:long" />
          <xs:element minOccurs="0" name="RoomId" type="xs:long" />
          <xs:element minOccurs="0" name="StaffId" type="xs:long" />
          <xs:element minOccurs="0" name="Start" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RoomCalendar" nillable="true" type="tns:RoomCalendar" />
  <xs:complexType name="EntityBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:long" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="EntityBase" nillable="true" type="tns:EntityBase" />
</xs:schema>