RoomM.DeskAppClient/Service References/RoomCalenderService/service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RoomCalenderService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IRoomCalenderService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/RoomM.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRoomCalenderService_GetAll_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAll" />
  </wsdl:message>
  <wsdl:message name="IRoomCalenderService_GetAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllResponse" />
  </wsdl:message>
  <wsdl:message name="IRoomCalenderService_Add_InputMessage">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="IRoomCalenderService_Add_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="IRoomCalenderService_DeleteByT_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteByT" />
  </wsdl:message>
  <wsdl:message name="IRoomCalenderService_DeleteByT_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteByTResponse" />
  </wsdl:message>
  <wsdl:message name="IRoomCalenderService_DeleteByObject_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteByObject" />
  </wsdl:message>
  <wsdl:message name="IRoomCalenderService_DeleteByObject_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteByObjectResponse" />
  </wsdl:message>
  <wsdl:message name="IRoomCalenderService_Edit_InputMessage">
    <wsdl:part name="parameters" element="tns:Edit" />
  </wsdl:message>
  <wsdl:message name="IRoomCalenderService_Edit_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditResponse" />
  </wsdl:message>
  <wsdl:message name="IRoomCalenderService_GetSingle_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSingle" />
  </wsdl:message>
  <wsdl:message name="IRoomCalenderService_GetSingle_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSingleResponse" />
  </wsdl:message>
  <wsdl:message name="IRoomCalenderService_GetByRoomId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetByRoomId" />
  </wsdl:message>
  <wsdl:message name="IRoomCalenderService_GetByRoomId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByRoomIdResponse" />
  </wsdl:message>
  <wsdl:message name="IRoomCalenderService_GetByStaffId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetByStaffId" />
  </wsdl:message>
  <wsdl:message name="IRoomCalenderService_GetByStaffId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByStaffIdResponse" />
  </wsdl:message>
  <wsdl:message name="IRoomCalenderService_GetByDate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetByDate" />
  </wsdl:message>
  <wsdl:message name="IRoomCalenderService_GetByDate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByDateResponse" />
  </wsdl:message>
  <wsdl:message name="IRoomCalenderService_GetByDateAndRoomId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetByDateAndRoomId" />
  </wsdl:message>
  <wsdl:message name="IRoomCalenderService_GetByDateAndRoomId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByDateAndRoomIdResponse" />
  </wsdl:message>
  <wsdl:message name="IRoomCalenderService_GetByWeekAndRoomId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetByWeekAndRoomId" />
  </wsdl:message>
  <wsdl:message name="IRoomCalenderService_GetByWeekAndRoomId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByWeekAndRoomIdResponse" />
  </wsdl:message>
  <wsdl:message name="IRoomCalenderService_GetByWatchedState_InputMessage">
    <wsdl:part name="parameters" element="tns:GetByWatchedState" />
  </wsdl:message>
  <wsdl:message name="IRoomCalenderService_GetByWatchedState_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByWatchedStateResponse" />
  </wsdl:message>
  <wsdl:message name="IRoomCalenderService_GetByRegisteredState_InputMessage">
    <wsdl:part name="parameters" element="tns:GetByRegisteredState" />
  </wsdl:message>
  <wsdl:message name="IRoomCalenderService_GetByRegisteredState_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByRegisteredStateResponse" />
  </wsdl:message>
  <wsdl:portType name="IRoomCalenderService">
    <wsdl:operation name="GetAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_RoomCalendar/GetAll" message="tns:IRoomCalenderService_GetAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_RoomCalendar/GetAllResponse" message="tns:IRoomCalenderService_GetAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Add">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_RoomCalendar/Add" message="tns:IRoomCalenderService_Add_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_RoomCalendar/AddResponse" message="tns:IRoomCalenderService_Add_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteByT">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_RoomCalendar/DeleteByT" message="tns:IRoomCalenderService_DeleteByT_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_RoomCalendar/DeleteByTResponse" message="tns:IRoomCalenderService_DeleteByT_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteByObject">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_RoomCalendar/DeleteByObject" message="tns:IRoomCalenderService_DeleteByObject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_RoomCalendar/DeleteByObjectResponse" message="tns:IRoomCalenderService_DeleteByObject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Edit">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_RoomCalendar/Edit" message="tns:IRoomCalenderService_Edit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_RoomCalendar/EditResponse" message="tns:IRoomCalenderService_Edit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSingle">
      <wsdl:input wsaw:Action="http://tempuri.org/IRoomCalenderService/GetSingle" message="tns:IRoomCalenderService_GetSingle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRoomCalenderService/GetSingleResponse" message="tns:IRoomCalenderService_GetSingle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetByRoomId">
      <wsdl:input wsaw:Action="http://tempuri.org/IRoomCalenderService/GetByRoomId" message="tns:IRoomCalenderService_GetByRoomId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRoomCalenderService/GetByRoomIdResponse" message="tns:IRoomCalenderService_GetByRoomId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetByStaffId">
      <wsdl:input wsaw:Action="http://tempuri.org/IRoomCalenderService/GetByStaffId" message="tns:IRoomCalenderService_GetByStaffId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRoomCalenderService/GetByStaffIdResponse" message="tns:IRoomCalenderService_GetByStaffId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetByDate">
      <wsdl:input wsaw:Action="http://tempuri.org/IRoomCalenderService/GetByDate" message="tns:IRoomCalenderService_GetByDate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRoomCalenderService/GetByDateResponse" message="tns:IRoomCalenderService_GetByDate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetByDateAndRoomId">
      <wsdl:input wsaw:Action="http://tempuri.org/IRoomCalenderService/GetByDateAndRoomId" message="tns:IRoomCalenderService_GetByDateAndRoomId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRoomCalenderService/GetByDateAndRoomIdResponse" message="tns:IRoomCalenderService_GetByDateAndRoomId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetByWeekAndRoomId">
      <wsdl:input wsaw:Action="http://tempuri.org/IRoomCalenderService/GetByWeekAndRoomId" message="tns:IRoomCalenderService_GetByWeekAndRoomId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRoomCalenderService/GetByWeekAndRoomIdResponse" message="tns:IRoomCalenderService_GetByWeekAndRoomId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetByWatchedState">
      <wsdl:input wsaw:Action="http://tempuri.org/IRoomCalenderService/GetByWatchedState" message="tns:IRoomCalenderService_GetByWatchedState_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRoomCalenderService/GetByWatchedStateResponse" message="tns:IRoomCalenderService_GetByWatchedState_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetByRegisteredState">
      <wsdl:input wsaw:Action="http://tempuri.org/IRoomCalenderService/GetByRegisteredState" message="tns:IRoomCalenderService_GetByRegisteredState_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRoomCalenderService/GetByRegisteredStateResponse" message="tns:IRoomCalenderService_GetByRegisteredState_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRoomCalenderService" type="tns:IRoomCalenderService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAll">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_RoomCalendar/GetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Add">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_RoomCalendar/Add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteByT">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_RoomCalendar/DeleteByT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteByObject">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_RoomCalendar/DeleteByObject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Edit">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_RoomCalendar/Edit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSingle">
      <soap:operation soapAction="http://tempuri.org/IRoomCalenderService/GetSingle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetByRoomId">
      <soap:operation soapAction="http://tempuri.org/IRoomCalenderService/GetByRoomId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetByStaffId">
      <soap:operation soapAction="http://tempuri.org/IRoomCalenderService/GetByStaffId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetByDate">
      <soap:operation soapAction="http://tempuri.org/IRoomCalenderService/GetByDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetByDateAndRoomId">
      <soap:operation soapAction="http://tempuri.org/IRoomCalenderService/GetByDateAndRoomId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetByWeekAndRoomId">
      <soap:operation soapAction="http://tempuri.org/IRoomCalenderService/GetByWeekAndRoomId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetByWatchedState">
      <soap:operation soapAction="http://tempuri.org/IRoomCalenderService/GetByWatchedState" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetByRegisteredState">
      <soap:operation soapAction="http://tempuri.org/IRoomCalenderService/GetByRegisteredState" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IRoomCalenderService" type="tns:IRoomCalenderService">
    <wsp:PolicyReference URI="#NetTcpBinding_IRoomCalenderService_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetAll">
      <soap12:operation soapAction="http://tempuri.org/IServiceOf_RoomCalendar/GetAll" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Add">
      <soap12:operation soapAction="http://tempuri.org/IServiceOf_RoomCalendar/Add" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteByT">
      <soap12:operation soapAction="http://tempuri.org/IServiceOf_RoomCalendar/DeleteByT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteByObject">
      <soap12:operation soapAction="http://tempuri.org/IServiceOf_RoomCalendar/DeleteByObject" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Edit">
      <soap12:operation soapAction="http://tempuri.org/IServiceOf_RoomCalendar/Edit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSingle">
      <soap12:operation soapAction="http://tempuri.org/IRoomCalenderService/GetSingle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetByRoomId">
      <soap12:operation soapAction="http://tempuri.org/IRoomCalenderService/GetByRoomId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetByStaffId">
      <soap12:operation soapAction="http://tempuri.org/IRoomCalenderService/GetByStaffId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetByDate">
      <soap12:operation soapAction="http://tempuri.org/IRoomCalenderService/GetByDate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetByDateAndRoomId">
      <soap12:operation soapAction="http://tempuri.org/IRoomCalenderService/GetByDateAndRoomId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetByWeekAndRoomId">
      <soap12:operation soapAction="http://tempuri.org/IRoomCalenderService/GetByWeekAndRoomId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetByWatchedState">
      <soap12:operation soapAction="http://tempuri.org/IRoomCalenderService/GetByWatchedState" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetByRegisteredState">
      <soap12:operation soapAction="http://tempuri.org/IRoomCalenderService/GetByRegisteredState" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RoomCalenderService">
    <wsdl:port name="BasicHttpBinding_IRoomCalenderService" binding="tns:BasicHttpBinding_IRoomCalenderService">
      <soap:address location="http://localhost:62978/RoomCalenderService" />
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IRoomCalenderService" binding="tns:NetTcpBinding_IRoomCalenderService">
      <soap12:address location="net.tcp://localhost:8282/RoomCalenderService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8282/RoomCalenderService</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>