RoomM.DeskAppClient/Service References/RoomCalenderService/service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/RoomM.Models" />
  <xs:element name="GetSingle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSingleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/RoomM.Models" minOccurs="0" name="GetSingleResult" nillable="true" type="q1:RoomCalendar" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/RoomM.Models" minOccurs="0" name="GetAllResult" nillable="true" type="q2:ArrayOfRoomCalendar" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Add">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/RoomM.Models" minOccurs="0" name="entity" nillable="true" type="q3:RoomCalendar" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteByT">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/RoomM.Models" minOccurs="0" name="entity" nillable="true" type="q4:RoomCalendar" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteByTResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteByObject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteByObjectResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Edit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/RoomM.Models" minOccurs="0" name="entity" nillable="true" type="q5:RoomCalendar" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByRoomId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="roomId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByRoomIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/RoomM.Models" minOccurs="0" name="GetByRoomIdResult" nillable="true" type="q6:ArrayOfRoomCalendar" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByStaffId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="staffId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByStaffIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/RoomM.Models" minOccurs="0" name="GetByStaffIdResult" nillable="true" type="q7:ArrayOfRoomCalendar" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="date" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/RoomM.Models" minOccurs="0" name="GetByDateResult" nillable="true" type="q8:ArrayOfRoomCalendar" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByDateAndRoomId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="date" type="xs:dateTime" />
        <xs:element minOccurs="0" name="roomId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByDateAndRoomIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/RoomM.Models" minOccurs="0" name="GetByDateAndRoomIdResult" nillable="true" type="q9:ArrayOfRoomCalendar" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByWeekAndRoomId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="date" type="xs:dateTime" />
        <xs:element minOccurs="0" name="roomId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByWeekAndRoomIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/RoomM.Models" minOccurs="0" name="GetByWeekAndRoomIdResult" nillable="true" type="q10:ArrayOfRoomCalendar" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByWatchedState">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="isWatched" type="xs:boolean" />
        <xs:element minOccurs="0" name="staffId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByWatchedStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/RoomM.Models" minOccurs="0" name="GetByWatchedStateResult" nillable="true" type="q11:ArrayOfRoomCalendar" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByRegisteredState">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="registeredState" type="xs:int" />
        <xs:element minOccurs="0" name="staffId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByRegisteredStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/RoomM.Models" minOccurs="0" name="GetByRegisteredStateResult" nillable="true" type="q12:ArrayOfRoomCalendar" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>