RoomM.DeskAppClient/Service References/StaffService/StaffService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="StaffService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:62978/Staffs/Implement/StaffService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:62978/Staffs/Implement/StaffService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:62978/Staffs/Implement/StaffService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RoomM.Models" />
      <xsd:import schemaLocation="http://localhost:62978/Staffs/Implement/StaffService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Collections" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IStaffService_GetAll_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAll" />
  </wsdl:message>
  <wsdl:message name="IStaffService_GetAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllResponse" />
  </wsdl:message>
  <wsdl:message name="IStaffService_Add_InputMessage">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="IStaffService_Add_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="IStaffService_DeleteByT_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteByT" />
  </wsdl:message>
  <wsdl:message name="IStaffService_DeleteByT_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteByTResponse" />
  </wsdl:message>
  <wsdl:message name="IStaffService_DeleteByObject_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteByObject" />
  </wsdl:message>
  <wsdl:message name="IStaffService_DeleteByObject_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteByObjectResponse" />
  </wsdl:message>
  <wsdl:message name="IStaffService_Edit_InputMessage">
    <wsdl:part name="parameters" element="tns:Edit" />
  </wsdl:message>
  <wsdl:message name="IStaffService_Edit_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditResponse" />
  </wsdl:message>
  <wsdl:message name="IStaffService_Save_InputMessage">
    <wsdl:part name="parameters" element="tns:Save" />
  </wsdl:message>
  <wsdl:message name="IStaffService_Save_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveResponse" />
  </wsdl:message>
  <wsdl:message name="IStaffService_GetSingle_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSingle" />
  </wsdl:message>
  <wsdl:message name="IStaffService_GetSingle_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSingleResponse" />
  </wsdl:message>
  <wsdl:message name="IStaffService_CheckPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckPassword" />
  </wsdl:message>
  <wsdl:message name="IStaffService_CheckPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IStaffService_CheckUserExists_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckUserExists" />
  </wsdl:message>
  <wsdl:message name="IStaffService_CheckUserExists_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckUserExistsResponse" />
  </wsdl:message>
  <wsdl:message name="IStaffService_GetStaffLimitByRegister_IList_x003C_Staff_x003E__InputMessage">
    <wsdl:part name="parameters" element="tns:GetStaffLimitByRegister_IList_x003C_Staff_x003E_" />
  </wsdl:message>
  <wsdl:message name="IStaffService_GetStaffLimitByRegister_IList_x003C_Staff_x003E__OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStaffLimitByRegister_IList_x003C_Staff_x003E_Response" />
  </wsdl:message>
  <wsdl:message name="IStaffService_GetStaffLimitByRegister_List_x003C_DictionaryEntry_x003E__InputMessage">
    <wsdl:part name="parameters" element="tns:GetStaffLimitByRegister_List_x003C_DictionaryEntry_x003E_" />
  </wsdl:message>
  <wsdl:message name="IStaffService_GetStaffLimitByRegister_List_x003C_DictionaryEntry_x003E__OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStaffLimitByRegister_List_x003C_DictionaryEntry_x003E_Response" />
  </wsdl:message>
  <wsdl:message name="IStaffService_IsExists_InputMessage">
    <wsdl:part name="parameters" element="tns:IsExists" />
  </wsdl:message>
  <wsdl:message name="IStaffService_IsExists_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsExistsResponse" />
  </wsdl:message>
  <wsdl:message name="IStaffService_GetUserId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserId" />
  </wsdl:message>
  <wsdl:message name="IStaffService_GetUserId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserIdResponse" />
  </wsdl:message>
  <wsdl:message name="IStaffService_UserNameIsWorking_InputMessage">
    <wsdl:part name="parameters" element="tns:UserNameIsWorking" />
  </wsdl:message>
  <wsdl:message name="IStaffService_UserNameIsWorking_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserNameIsWorkingResponse" />
  </wsdl:message>
  <wsdl:portType name="IStaffService">
    <wsdl:operation name="GetAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_Staff/GetAll" message="tns:IStaffService_GetAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_Staff/GetAllResponse" message="tns:IStaffService_GetAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Add">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_Staff/Add" message="tns:IStaffService_Add_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_Staff/AddResponse" message="tns:IStaffService_Add_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteByT">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_Staff/DeleteByT" message="tns:IStaffService_DeleteByT_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_Staff/DeleteByTResponse" message="tns:IStaffService_DeleteByT_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteByObject">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_Staff/DeleteByObject" message="tns:IStaffService_DeleteByObject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_Staff/DeleteByObjectResponse" message="tns:IStaffService_DeleteByObject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Edit">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_Staff/Edit" message="tns:IStaffService_Edit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_Staff/EditResponse" message="tns:IStaffService_Edit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Save">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_Staff/Save" message="tns:IStaffService_Save_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_Staff/SaveResponse" message="tns:IStaffService_Save_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSingle">
      <wsdl:input wsaw:Action="http://tempuri.org/IStaffService/GetSingle" message="tns:IStaffService_GetSingle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStaffService/GetSingleResponse" message="tns:IStaffService_GetSingle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckPassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IStaffService/CheckPassword" message="tns:IStaffService_CheckPassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStaffService/CheckPasswordResponse" message="tns:IStaffService_CheckPassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckUserExists">
      <wsdl:input wsaw:Action="http://tempuri.org/IStaffService/CheckUserExists" message="tns:IStaffService_CheckUserExists_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStaffService/CheckUserExistsResponse" message="tns:IStaffService_CheckUserExists_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStaffLimitByRegister_IList_x003C_Staff_x003E_">
      <wsdl:input wsaw:Action="http://tempuri.org/IStaffService/GetStaffLimitByRegister_IList&lt;Staff&gt;" message="tns:IStaffService_GetStaffLimitByRegister_IList_x003C_Staff_x003E__InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStaffService/GetStaffLimitByRegister_IList&lt;Staff&gt;Response" message="tns:IStaffService_GetStaffLimitByRegister_IList_x003C_Staff_x003E__OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStaffLimitByRegister_List_x003C_DictionaryEntry_x003E_">
      <wsdl:input wsaw:Action="http://tempuri.org/IStaffService/GetStaffLimitByRegister_List&lt;DictionaryEntry&gt;" message="tns:IStaffService_GetStaffLimitByRegister_List_x003C_DictionaryEntry_x003E__InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStaffService/GetStaffLimitByRegister_List&lt;DictionaryEntry&gt;Response" message="tns:IStaffService_GetStaffLimitByRegister_List_x003C_DictionaryEntry_x003E__OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsExists">
      <wsdl:input wsaw:Action="http://tempuri.org/IStaffService/IsExists" message="tns:IStaffService_IsExists_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStaffService/IsExistsResponse" message="tns:IStaffService_IsExists_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserId">
      <wsdl:input wsaw:Action="http://tempuri.org/IStaffService/GetUserId" message="tns:IStaffService_GetUserId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStaffService/GetUserIdResponse" message="tns:IStaffService_GetUserId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UserNameIsWorking">
      <wsdl:input wsaw:Action="http://tempuri.org/IStaffService/UserNameIsWorking" message="tns:IStaffService_UserNameIsWorking_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStaffService/UserNameIsWorkingResponse" message="tns:IStaffService_UserNameIsWorking_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IStaffService" type="tns:IStaffService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAll">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_Staff/GetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Add">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_Staff/Add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteByT">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_Staff/DeleteByT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteByObject">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_Staff/DeleteByObject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Edit">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_Staff/Edit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Save">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_Staff/Save" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSingle">
      <soap:operation soapAction="http://tempuri.org/IStaffService/GetSingle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckPassword">
      <soap:operation soapAction="http://tempuri.org/IStaffService/CheckPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckUserExists">
      <soap:operation soapAction="http://tempuri.org/IStaffService/CheckUserExists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStaffLimitByRegister_IList_x003C_Staff_x003E_">
      <soap:operation soapAction="http://tempuri.org/IStaffService/GetStaffLimitByRegister_IList&lt;Staff&gt;" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStaffLimitByRegister_List_x003C_DictionaryEntry_x003E_">
      <soap:operation soapAction="http://tempuri.org/IStaffService/GetStaffLimitByRegister_List&lt;DictionaryEntry&gt;" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsExists">
      <soap:operation soapAction="http://tempuri.org/IStaffService/IsExists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserId">
      <soap:operation soapAction="http://tempuri.org/IStaffService/GetUserId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserNameIsWorking">
      <soap:operation soapAction="http://tempuri.org/IStaffService/UserNameIsWorking" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StaffService">
    <wsdl:port name="BasicHttpBinding_IStaffService" binding="tns:BasicHttpBinding_IStaffService">
      <soap:address location="http://localhost:62978/Staffs/Implement/StaffService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>